@import "./core/reset";
@import "./core/variables";
@import "./core/mixins";
@import "./html.scss";


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.main-container {
  background-color: #070707e6;
}

.body-contaner {
  text-align: center;

  @include desktop{
    text-align: center;
    align-items: center;
  }

}

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  background: url("../images/neon.png");
  width: 100vw;

  background-color: white;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: left;
  background-size: auto;

  .glitch{
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    color:white;
    font-size:100px;
    position:relative;
    margin:0 auto;
    text-shadow:
        0px -2px 10px rgba(255,255,255,1),
        0px 0px 5px rgba(255,255,255,0),
        0px 0px 10px rgba(255,255,255,0),
        0px 0px 15px rgba(255,255,255,0),
        0px 0px 20px rgba(255,255,255,0);
    animation:noise-anim-2 3s infinite linear alternate-reverse, shift 4s ease-in-out infinite alternate, blur 8s ease-in-out infinite alternate;
    transform: skewX(0deg);
    white-space: nowrap;


}


.glass {
  position: absolute;
  transition: .1s ease;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: left;
  background-size: auto;

}


.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:3px;
  text-shadow: -1px 0 red;
  top:0;
  color: transparent;
  background: transparent;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim-2 3s infinite linear alternate-reverse, shift 4s ease-in-out infinite alternate;
    transform: skewX(0deg);
    z-index: -2;
    opacity: .7;
    white-space: nowrap;

}

.glitch:before{
  content:attr(data-text);
    position:absolute;
    left:1px;
    text-shadow: -5px 0 rgba(0,0,255,.7);
    top:0;
    color: transparent;
    background: transparent;
    overflow: hidden;
    clip:rect(0,900px,0,0);
    animation:noise-anim-2 3s infinite linear alternate-reverse, shift 4s ease-in-out infinite alternate;
    transform: skewX(0deg);
    z-index: -1;
    opacity: .8;
    white-space: nowrap;
}



@keyframes noise-anim{
    $steps:20;
    @for $i from 0 through $steps{
        #{percentage($i*(1/$steps))}{
            clip:rect(random(100)+px,9999px,random(100)+px,0);
        }
    }
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}

@keyframes shift{
  0%,40%, 44%, 58%, 61%, 65%,69%,73%,100%{
    transform: skewX(0deg);
  }
  41%{
    transform: skewX(10deg);
  }
  42%{
    transform: skewX(-10deg);
  }
  59%{
    transform: skewX(40deg) skewY(10deg);
  }
  60%{
    transform: skewX(-40deg) skewY(-10deg);
  }
  63%{
    transform: skewX(10deg) skewY(-5deg);
  }
  70%{
    transform: skewX(-50deg) skewY(-20deg);
  }
  71%{
    transform: skewX(10deg) skewY(-10deg);
  }
}
}


.hero {
  display: grid;
  top: 0;

}

.header {
  position: fixed;
  height: 40px;
  width: 100vw;
  background-color: transparentize($colorSecondary, 0.3);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;


  &__title {
    font-size: 30px;
    display: inline;
    font-family: 'Dancing Script', cursive;
  }
}


.sm {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 27px;
  position: fixed;
  z-index: 9999;
  background-color: rgb(0, 0, 0);
  top: 40px;

  &__list {
    display: flex;
    align-items: center;

  }
  &__link {
    padding: 30px;
    font-size: 16px;
    &--icon {
      color: white;
      display: inline-block;
      position: relative;
    }

    &--icon{
      transform: scaleX(1);
      transform-origin: bottom left;

    }

    &--icon:hover {
      color: $colorPrincipal;

    }

  }
  @include tablet {
    height: 35px;

    &__link {
      font-size: 18px;
    }
  }
  @include desktop {
    height: 35px;

    &__link {
      font-size: 18px;
    }
  }
}


.introduction {
  position: relative;
  display: block;
  top: 130px;
  text-align: left;
  opacity: 0;


  &__title {
    width: 14vw;
    position: relative;
    font-size: 30px;
    font-family: 'Inclusive Sans', sans-serif;
    padding: 15px;

    visibility: hidden;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .4px solid transparent; /* The typwriter cursor */
    white-space: nowrap;
    letter-spacing: .07em;
    animation:
      typing 2s steps(13, end),
      blink-caret .6s step-end 4,
      textOpacity 2s infinite;
      
  }

  &__text {
    display: flex;
    padding: 15px;

    visibility: hidden;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .4px solid transparent; /* The typwriter cursor */
    white-space: nowrap;
    letter-spacing: .06em;
    animation-delay: 6s;
    animation:
      typing 2s steps(13, end),
      blink-caret .6s step-end 5,
      textOpacity 2s infinite;
    animation-delay: 3s;

    &--me{
        font-size: 14px;
        padding-right: 5px;
    }

    &--name{
        font-size: 30px;
        line-height: 1;
        background-color: $colorPrincipal;
        color: white;
        width: 100px;
        height: 30px;
        text-align: center;
    }

  }

  &__profession {
    padding: 10px;
    font-size: 25px;

    visibility: hidden;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .4px solid $colorSecondary; /* The typwriter cursor */
    white-space: nowrap;
    letter-spacing: .06em;
    animation:
      typing 2s steps(13, end),
      blink-caret .6s step-end infinite,
      textOpacity 2s infinite;
    animation-delay: 6s;
    // animation-duration: 3s;
  }

}

.introduction.visible {
  opacity: 1;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  0% { border-color: transparent }
  50% { border-color: $colorSecondary; }
  100% { border-color: transparent}
}

@keyframes textOpacity {
  from {  visibility: hidden;}
  to {  visibility: visible; }
}



.aboutme {

  @include desktop{
    padding-left: 75px;
    box-sizing: border-box;
  }


  position: relative;
  padding-left: 12.5vw;
  top: 230px;
  width: 75vw;
  text-align: left;
  box-sizing: content-box;


  &__title {
    font-size: 30px;
  }

  &__text {
    padding-top: 20px;
    line-height: 23px;
    font-size: 17px;

    &--hl{
      background-color: transparentize($colorSecondary, 0.70s);
    }

    &--1 {
      // text-indent: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &--2 {
      text-indent: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

}



.techstack {

  @include desktop{
    padding-left: 75px;
    box-sizing: border-box;
  }


  position: relative;
  margin-top: 80px;
  padding-bottom: 260px;

  padding-left: 12.5vw;
  top: 230px;
  width: 75vw;
  text-align: left;
  box-sizing: content-box;


  &__title {
    font-size: 30px;
  }
}

.skills{

  margin-top: 40px;
  width: 100%;

  &__title {
    font-size: 17px;
    background-color: $colorPrincipal;
    padding-left: 10px;
    color: white;
  }

  &__container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 10px;
  }
  &__image{
      width: 35px;
      height: auto;
      margin: 15px;
  }

}


.workexperience {

  @include desktop{
    padding-left: 75px;
    box-sizing: border-box;
  }

  position: relative;
  padding-left: 12.5vw;
  width: 75vw;
  text-align: left;
  box-sizing: content-box;
  top: 60px;
  padding-bottom: 100px;


  &__title {
    font-size: 30px;
    padding-bottom: 20px;;
  }

  &__subtitle {
    background-color: $colorPrincipal;
    padding: 10px;
    color: white;
    margin-top: 10px;
  }

  &__subtitle--2 {
    background-color: $colorPrincipal;
    padding: 10px;
    color: white;
    margin-top: 40px;
  }

  &__text {
    padding-top: 20px;
    line-height: 23px;
    font-size: 17px;

    &--hl{
      background-color: transparentize($colorSecondary, 0.70s);
    }

    &--1 {
      text-indent: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &--3 {
      text-indent: 10px;
      padding-top: 20px;
      // margin-bottom: 20px;
    }

    &--2 {
      text-indent: 10px;
      margin-top: 20px;
      margin-bottom: 20px;


      &-duties {
         padding-top: 15px;
         li {
          list-style-type: circle;

         }
         li::marker {
          content: '✝ ';
          font-size: 1.2em;
          color: $colorSecondary;
         }
      }
    }
  }
}


.education {

  @include desktop{
    padding-left: 75px;
    box-sizing: border-box;
  }

  position: relative;
  padding-left: 12.5vw;
  width: 75vw;
  text-align: left;
  box-sizing: content-box;
  top: 40px;
  padding-bottom: 100px;


  &__title {
    font-size: 30px;
    padding-bottom: 20px;
  }

  &__subtitle {
    background-color: $colorPrincipal;
    padding: 10px;
    color: white;
    margin-top: 10px;
  }

  &__subtitle--2 {
    background-color: $colorPrincipal;
    padding: 10px;
    color: white;
    margin-top: 40px;
  }

  &__text {
    padding-top: 20px;
    line-height: 23px;
    font-size: 17px;

    &--hl{
      background-color: transparentize($colorSecondary, 0.70s);
    }

    &--1 {
      text-indent: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &--3 {
      text-indent: 10px;
      padding-top: 20px;
      // margin-bottom: 20px;
    }

    &--2 {
      text-indent: 10px;
      margin-top: 20px;
      margin-bottom: 20px;


      &-duties {
         padding-top: 15px;
         li {
          list-style-type: circle;

         }
         li::marker {
          content: '✝ ';
          font-size: 1.2em;
          color: $colorSecondary;
         }
      }
    }
  }
}


.projects {

@include desktop{
  padding-left: 75px;
  box-sizing: border-box;
}

  position: relative;
  padding-left: 12.5vw;
  width: 75vw;
  text-align: left;
  box-sizing: content-box;
  top: 40px;
  padding-bottom: 200px;

  &__title{
    @include desktop{
      box-sizing: border-box;
    }

    position: relative;
    width: 75vw;
    text-align: left;
    font-size: 30px;
  }

}



.proyectos {
  margin-top: 30px;
  // margin-bottom: 100px;
  // padding-bottom: 150px;
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  &__rectangle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $colorSecondary;
    height: 300px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
    flex-wrap: wrap;
    padding: 20px;
    margin: 17px;
  }

  &__rectangle:hover {
    box-shadow: $shadow;
  }


  &__name {
    font-size: 18px;
  }
  &__description {
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__list {
    display: flex;
    &--link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: rgba(226, 55, 183, 0.768);
      margin-right: 10px;
      border-radius: 5px;
      &:hover {
        background-color: rgb(79, 76, 76);
        color: white;
        box-shadow: $shadow;
      }
    }
  }
  &__enlace {
    &--link {
      &:hover {
        color: white;
      }
    }
  }
  &__image {
    width: 200px;
    height: 150px;
    padding-top: 10px;
  }
  &__button {
    background-color: $colorPrincipal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
  }
  @include tablet {
    display: flex;
    // justify-content: space-between;
    &__rectangle {
      width: 210px;
      justify-content: space-evenly;
    }
    &__name {
      font-size: 18px;
    }
    &__description {
      font-size: 14px;
    }
    &__list {
      &--link {
        width: 40px;
        height: 40px;
      }
    }
    &__image {
      width: 150px;
      height: 100px;
      padding-top: 0;
    }
    &__button {
      font-size: 16px;
      height: 35px;
      width: 100%;
    }
  }
  @include desktop {
    &__rectangle {
      height: 310px;
      width: 100%;
    }
    &__name {
      font-size: 18px;
    }
    &__description {
      font-size: 16px;
      width: 250px;
    }
    &__list {
      &--link {
        width: 40px;
        height: 40px;
      }
    }
    &__image {
      width: 200px;
      height: 150px;
      padding-top: 25px;
      margin-bottom: 20px;
    }
    &__button {
      font-size: 16px;
      height: 35px;
      width: 300px;
    }
  }
}

.section-proyects {
  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.projects-list {
  @include tablet {
    display: grid;
    grid-template-columns: 210px 210px 210px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
  }
  @include desktop {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 40px;
    margin-left: 150px;
    margin-right: 150px;
  }
}




.footer{
  position: fixed;
  text-align: center;
  background-color: #070707;
  height: 5%;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;


  &__legal {
    color: white;
  }
}

