@import "./core/reset";
@import "./core/variables";
@import "./core/mixins";
@import "./html.scss";


.body-contaner {
  text-align: center;

  @include desktop{
    text-align: center;
    align-items: center;
  }

}


.hero {
  display: grid;
  top: 0;
 
}

.header {
  position: fixed;
  height: 40px;
  width: 100vw;
  background-color: transparentize(#5DBACC, 0.3);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;


  &__title {
    font-size: 30px;
    display: inline;
    font-family: 'Dancing Script', cursive;
  }
}


.sm {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 27px;
  position: fixed;
  z-index: 9999;
  background-color: rgb(0, 0, 0);
  top: 40px;

  &__list {
    display: flex;
    align-items: center;

  }
  &__link {
    padding: 30px;
    font-size: 16px;
    &--icon {
      color: white;
      display: inline-block;
      position: relative;
    }

    &--icon{
      transform: scaleX(1);
      transform-origin: bottom left;
    }

  }
  @include tablet {
    height: 35px;

    &__link {
      font-size: 18px;
    }
  }
  @include desktop {
    height: 35px;

    &__link {
      font-size: 18px;
    }
  }
}


.introduction {
  
  @include desktop{
    padding-left: 75px;
  }

  position: relative;
  display: block;
  width: 75vw;
  top: 130px;
  text-align: left;
  padding-left: 12.5vw;
  


  &__title {
    position: relative;
    font-size: 30px;
    font-family: 'Inclusive Sans', sans-serif;
    padding: 15px;
  }

  &__text {
    display: flex;
    padding: 15px;
    
    &--me{
        font-size: 14px;
        padding-right: 5px;
    }

    &--name{
        font-size: 30px;
        line-height: 1;
        background-color: $colorPrincipal;
        color: white;
        width: 100px;
        height: 30px;
        text-align: center;
    }
    
  }

  &__profession {
    padding: 10px;
    font-size: 25px;
  }
  
}



.aboutme {

  @include desktop{
    padding-left: 75px;
    box-sizing: border-box;
  }


  position: relative;
  padding-left: 12.5vw;
  top: 220px;
  width: 75vw;
  text-align: left;
  box-sizing: content-box;


  &__title {
    font-size: 30px;
  }

  &__text {
    padding-top: 20px;
    line-height: 23px;
    font-size: 17px;

    &--hl{
      background-color: transparentize($colorSecundary, 0.70s);
    }

    &--1 {
      text-indent: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &--2 {
      text-indent: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

}



.techstack {

  @include desktop{
    padding-left: 75px;
    box-sizing: border-box;
  }


  position: relative;
  margin-top: 80px;
  padding-bottom: 260px;

  padding-left: 12.5vw;
  top: 230px;
  width: 75vw;
  text-align: left;
  box-sizing: content-box;


  &__title {
    font-size: 30px;
  }
}

.skills{
  
  margin-top: 40px;
  width: 100%;

  &__title {
    font-size: 17px;
    background-color: $colorPrincipal;
    padding-left: 10px;
    color: white;
  }
 
  &__container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 10px;
  }
  &__image{
      width: 35px;
      height: auto;
      margin: 15px;
  }

}


.workexperience {

  @include desktop{
    padding-left: 75px;
    box-sizing: border-box;
  }

  position: relative;
  padding-left: 12.5vw;
  width: 75vw;
  text-align: left;
  box-sizing: content-box;
  top: 60px;
  padding-bottom: 100px;


  &__title {
    font-size: 30px;
    padding-bottom: 20px;;
  }

  &__subtitle {
    background-color: $colorPrincipal;
    padding: 10px;
    color: white;
    margin-top: 10px;
  }

  &__subtitle--2 {
    background-color: $colorPrincipal;
    padding: 10px;
    color: white;
    margin-top: 40px;
  }

  &__text {
    padding-top: 20px;
    line-height: 23px;
    font-size: 17px;

    &--hl{
      background-color: transparentize($colorSecundary, 0.70s);
    }

    &--1 {
      text-indent: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &--3 {
      text-indent: 10px;
      padding-top: 20px;
      // margin-bottom: 20px;
    }

    &--2 {
      text-indent: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
     

      &-duties {
         padding-top: 15px;
         li {
          list-style-type: circle;
        
         }
         li::marker {
          content: '✝ ';
          font-size: 1.2em;
          color: $colorSecundary;
         }
      }
    }
  }
}


.education {

  @include desktop{
    padding-left: 75px;
    box-sizing: border-box;
  }

  position: relative;
  padding-left: 12.5vw;
  width: 75vw;
  text-align: left;
  box-sizing: content-box;
  top: 60px;
  padding-bottom: 100px;


  &__title {
    font-size: 30px;
    padding-bottom: 20px;;
  }

  &__subtitle {
    background-color: $colorPrincipal;
    padding: 10px;
    color: white;
    margin-top: 10px;
  }

  &__subtitle--2 {
    background-color: $colorPrincipal;
    padding: 10px;
    color: white;
    margin-top: 40px;
  }

  &__text {
    padding-top: 20px;
    line-height: 23px;
    font-size: 17px;

    &--hl{
      background-color: transparentize($colorSecundary, 0.70s);
    }

    &--1 {
      text-indent: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &--3 {
      text-indent: 10px;
      padding-top: 20px;
      // margin-bottom: 20px;
    }

    &--2 {
      text-indent: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
     

      &-duties {
         padding-top: 15px;
         li {
          list-style-type: circle;
        
         }
         li::marker {
          content: '✝ ';
          font-size: 1.2em;
          color: $colorSecundary;
         }
      }
    }
  }
}

.projects__title{
  @include desktop{
    padding-left: 75px;
    box-sizing: border-box;
  }

  position: relative;
  padding-left: 12.5vw;
  width: 75vw;
  text-align: left;
  font-size: 30px;
}

.proyectos {
  margin-top: 30px;
  margin-bottom: 100px;
  padding-bottom: 150px;
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  &__rectangle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: $colorSecundary;
    height: 300px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
  }


  &__name {
    font-size: 18px;
  }
  &__description {
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__list {
    display: flex;
    &--link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: white;
      margin-right: 10px;
      border-radius: 5px;
      &:hover {
        background-color: rgb(79, 76, 76);
        color: white;
      }
    }
  }
  &__enlace {
    &--link {
      &:hover {
        color: white;
      }
    }
  }
  &__image {
    width: 200px;
    height: 150px;
    padding-top: 10px;
  }
  &__button {
    background-color: $colorPrincipal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
  }
  @include tablet {
    display: flex;
    // justify-content: space-between;
    &__rectangle {
      width: 210px;
      justify-content: space-evenly;
    }
    &__name {
      font-size: 18px;
    }
    &__description {
      font-size: 14px;
    }
    &__list {
      &--link {
        width: 40px;
        height: 40px;
      }
    }
    &__image {
      width: 150px;
      height: 100px;
      padding-top: 0;
    }
    &__button {
      font-size: 16px;
      height: 35px;
      width: 100%;
    }
  }
  @include desktop {
    &__rectangle {
      height: 310px;
      width: 100%;
    }
    &__name {
      font-size: 18px;
    }
    &__description {
      font-size: 16px;
      width: 250px;
    }
    &__list {
      &--link {
        width: 40px;
        height: 40px;
      }
    }
    &__image {
      width: 200px;
      height: 150px;
      padding-top: 25px;
      margin-bottom: 20px;
    }
    &__button {
      font-size: 16px;
      height: 35px;
      width: 300px;
    }
  }
}

.section-proyects {
  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.projects-list {
  @include tablet {
    display: grid; 
    grid-template-columns: 210px 210px 210px; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 20px 20px;
  }
  @include desktop {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 40px;
    margin-left: 150px;
    margin-right: 150px;
  }
}




.footer{
  position: fixed;
  text-align: center;
  background-color: #070707;
  height: 5%;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  
  &__legal {
    color: white;
  }
}

