html {
    height: 100vh;
    background: url("../images/background-landing.png");
    // transform-origin: right;
  
    background-color: white;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: right;
    // background-attachment: fixed;
    scroll-behavior: smooth;
    text-align: center;
  }