* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Inclusive Sans', sans-serif;
  color: rgb(255, 255, 255);
  
  // background-color: rgb(14, 13, 13);
}

/******* lists **********/
// ol,
// ul {
//   list-style: none;
// }

li {
  list-style-type: none;
}

/****** links *******/
// a,
// a:visited,
// a:hover,
// a:active {
//   text-decoration: none;
//   color: inherit;
// }
