$colorDarkGreen: #1d1d1b;

$colorSecondary: #2794e1a6;
$colorPrincipal: #f871f3;
$shadow: 
0px -2px 10px rgba(255,255,255,1),
0px 0px 5px rgba(255,255,255,1),
0px 0px 10px rgba(212, 97, 227, 0.714),
0px 0px 20px rgb(235, 92, 230);

$fontMontserrat: "Montserrat", sans-serif;
